* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}


body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    padding-top: 4.4rem;
}

a {
    text-decoration: none;
}

.main-header {
    width: 100%;
    height: auto;
    background: #8194d9;
    padding: 1.3rem 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
}

.main-header__item-list .main-header__item {
    display: inline-block;
    margin-right: 1.5rem;
}

.main-header__item-list .main-header__item:last-child {
    margin-right: 0;
}

.main-header__item-list .main-header__item a {
    color: #fff;
}

.main-header__item-list .main-header__item a:hover,
.main-header__item-list .main-header__item a:active,
.main-header__item-list .main-header__item a.active {
    color: #000;
    font-weight: bold;
}


.container-fluid {
    padding: 0px 15px;
    width: 100%;
}


main {
    padding: 3rem 0;
}


.main-title {
    font-size: 3.6rem;
    margin-bottom: 2rem;
}

.from-inline-control {
    height: 40px;
    width: 250px;
    padding: 0px 1rem;
}


.submit {
margin-left: 1rem;
padding: 0.7rem 1.5rem;
height: 40px;
}