doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/style.css")
        block styles
    body
        //- Header HTML 
        nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
            a.navbar-brand(href="#") Navbar
            button.navbar-toggler.d-lg-none(type="button", data-toggle="collapse", data-target="#collapsibleNavId", aria-controls="collapsibleNavId", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            
            .collapse.navbar-collapse#collapsibleNavId
                ul.navbar-nav.ml-auto.mt-lg-0
                    li.nav-item
                        a.nav-link(href="/", class=(path === '/' ? "active" : "")) Products

                    li.nav-item
                        a.nav-link(href="/add-product", class=(path === '/add-product' ? "active" : "")) Add Products

        //- Dynamic Content
        block content