<main>
    <div class="container-fluid">
        <h1 class="main-title">My Products</h1>
        {{!-- <p>Listst of products.........</p> --}}

        {{#if hasProducts }}
            <section>
                <div class="row">
                    {{#each prods}}
                        <div class="col grid-5">
                            <div class="myGrid">
                                <article class="card product-item">
                                    <h5 class="card-title">{{this.title}}</h5>
                                    <div class="card-image">
                                        <img src="https://images-na.ssl-images-amazon.com/images/I/81m1s4wIPML.jpg" alt="harry pottter" class="w-100">
                                    </div>
                                    <div class="card-content">
                                        <strong class="product_price">$19.99</strong>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem molestiae quis sunt quas. Quam vero eum tenetur.</p>
                                    </div>
                                    <div class="card_actions">
                                        <button class="btn">Add to Cart</button>
                                    </div>
                                </article>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </section>
            {{ else }}
                <p>Listst of products.........</p>    
        {{/if}}
    </div>
</main>